{
    "extends": "react-app",
    "rules": {
        // "no-console": "warn"
        "quotes": ["error", "single"],
        // "semi": ["error", "always"],
        "complexity": ["error", 5],
        "camelcase": ["error", {
            "properties": "always"
        }]
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    }
}